@use '../base/variables' as v;
// Media Query en Sass
@mixin telefono {
    @media (min-width: v.$telefono){
        @content;  //@content te permite incluir código adicional en un mixin desde el lugar donde se invoca, lo que puede ser útil para extender la funcionalidad del mixin de manera dinámica.
    }
}
@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$desktopXL){
        @content;
    }
}
//Dentro de este mixin, tomamos los parametroa desde el llamado del grid, para reutilizar esta funcion cuantas veces deseemos
@mixin grid ($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

