// Tipografias
$fuentePrincipaL: 'Fira Sans', sans-serif;
$funteSecundaria: 'Karla', sans-serif;



//Colores
$negro: #000;
$verde: #6af5ff;
$morado: #b700b4;
$grisPrincipal: #5b5b5b;
$grisClaro: #c0c0c0;
$fondotextAreas: #dbdbdb;
$fondoForm: #ebebeb;
$blanco: #fff;
$grisbg: #1b1b1b;


// Tamanos de Media Query

$telefono : 480px;
$tablet : 768px;
$desktop : 992px;
$desktopXL : 1200px;

